In [1]:
import pandas as pd

In [2]:
msft = pd.read_csv('msft_News.csv')
goog = pd.read_csv('goog_News.csv')
amzn = pd.read_csv('amazon_News.csv')

In [3]:
amzn.head()

,Unnamed: 0,title,Date,comment
0,0,NaN,"AMZNThursday, October 1st 2020","Amazon Music partners with Universal Music, Wa..."
1,0,NaN,"PTON, AMZNTuesday, September 22nd 2020","Amazon to expand tech hubs, corporate offices,..."
2,0,NaN,"MSFT, TWLO, WORKTuesday, September 22nd 2020","Amazon hires former Yahoo, Slack privacy head ..."
3,0,NaN,"AMZN, WMT, TGT, UPS, FDXWednesday, September 1...","Amazon's latest job spree: Another 100,000 wor..."
4,0,NaN,"AMZNWednesday, August 26th 2020",Amazon targeted by German antitrust probe

In [4]:
# On prend les colonnes dont on a besoin
amzn = amzn[["Date","comment"]]
goog = goog[["Date","comment"]]
msft = msft[["Date","comment"]]

In [5]:
amzn.head()

,Date,comment
0,"AMZNThursday, October 1st 2020","Amazon Music partners with Universal Music, Wa..."
1,"PTON, AMZNTuesday, September 22nd 2020","Amazon to expand tech hubs, corporate offices,..."
2,"MSFT, TWLO, WORKTuesday, September 22nd 2020","Amazon hires former Yahoo, Slack privacy head ..."
3,"AMZN, WMT, TGT, UPS, FDXWednesday, September 1...","Amazon's latest job spree: Another 100,000 wor..."
4,"AMZNWednesday, August 26th 2020",Amazon targeted by German antitrust probe

In [6]:
# on v√©rifie les valeurs nulles
goog.isnull().sum()

Date       25
comment    25
dtype: int64

In [7]:
amzn.isnull().sum()

Date       0
comment    0
dtype: int64

In [8]:
msft.isnull().sum()

Date       23
comment    23
dtype: int64

In [9]:
# On supprime les lignes avec des valeurs nulles
goog = goog.dropna()

In [10]:
msft = msft.dropna()

In [11]:
msft.isnull().sum()

Date       0
comment    0
dtype: int64

In [12]:
goog.isnull().sum()

Date       0
comment    0
dtype: int64

In [13]:
# On supprime les doublons
msft = msft.drop_duplicates()

In [14]:
msft.shape

(335, 2)

In [15]:
goog = goog.drop_duplicates()

In [16]:
goog.shape

(369, 2)

In [17]:
amzn = amzn.drop_duplicates()

In [18]:
amzn .shape

(480, 2)

In [19]:
# On met la date au bon format
from dateutil.parser import parse

In [20]:
# je r√©cup√©re les 3 derniers √©l√©ments apr√®s avoir spliter la cha√Æne en token
amzn['Date']= amzn['Date'].apply(lambda x: x.split()[-3:])
goog['Date']= goog['Date'].apply(lambda x: str(x).split()[-3:])
msft['Date']= msft['Date'].apply(lambda x: str(x).split()[-3:])

In [21]:
goog['Date'].head()

0       [October, 1st, 2020]
1    [September, 25th, 2020]
2       [August, 26th, 2020]
3       [August, 21st, 2020]
4        [August, 4th, 2020]
Name: Date, dtype: object

In [22]:
# Jejoins les tokens par un tiret
amzn['Date']= amzn['Date'].apply(lambda x: '-'.join(x))
goog['Date']= goog['Date'].apply(lambda x: '-'.join(x))
msft['Date']= msft['Date'].apply(lambda x: '-'.join(x))

In [23]:
msft['Date'].head()

0       October-1st-2020
1    September-21st-2020
2     September-8th-2020
3     September-5th-2020
4    September-11th-2020
Name: Date, dtype: object

In [24]:
# Je parse la date
amzn['Date']= amzn['Date'].apply(lambda x: parse(x))
goog['Date']= goog['Date'].apply(lambda x: parse(x))
msft['Date']= msft['Date'].apply(lambda x: parse(x))

In [25]:
msft['Date'].head()

0   2020-10-01
1   2020-09-21
2   2020-09-08
3   2020-09-05
4   2020-09-11
Name: Date, dtype: datetime64[ns]

In [26]:
# je la met au bon format 
amzn['Date']= amzn['Date'].apply(lambda x: x.strftime('%Y-%m-%d'))
goog['Date']= goog['Date'].apply(lambda x: x.strftime('%Y-%m-%d'))
msft['Date']= msft['Date'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [27]:
amzn.head()

         Date                                            comment
0  2020-10-01  Amazon Music partners with Universal Music, Wa...
1  2020-09-22  Amazon to expand tech hubs, corporate offices,...
2  2020-09-22  Amazon hires former Yahoo, Slack privacy head ...
3  2020-09-16  Amazon's latest job spree: Another 100,000 wor...
4  2020-08-26          Amazon targeted by German antitrust probe

In [28]:
# Je modifie le nom des colonnes
amzn = amzn.rename(columns={"comment": "Title"})
goog = goog.rename(columns={"comment": "Title"})
msft = msft.rename(columns={"comment": "Title"})

In [29]:
msft

           Date                                              Title
0    2020-10-01  Datadog price target lifted on Microsoft partn...
1    2020-09-21  Analog Devices teams with Microsoft on 3D prod...
2    2020-09-08    Microsoft Teams, NFL deepen gameday partnership
3    2020-09-05  Microsoft teams up with BP to achieve net zero...
4    2020-09-11         Microsoft targets raised ahead of earnings
..          ...                                                ...
361  2016-10-03           Office iPad apps arriving ... eventually
362  2014-06-19       IBM, Cisco make OpenStack cloud acquisitions
363  2016-03-18  NBC Sports launches dedicated video-streaming ...
364  2013-12-12  Barracuda down 23.8% after billings guidance c...
365  2016-07-12  Kantar: Android takes share in U.S., iPhone ga...

[335 rows x 2 columns]

In [30]:
# je sauve mes dataframe en csv
msft.to_csv('microsoft_News2.csv')
amzn.to_csv('amazon_News2.csv')
goog.to_csv('google_News2.csv')