# Projet trading

## Partie 1: Récupération des prix

**Secteur d’activité du numérique** : 

- Microsoft (MSFT)              
- Google     (GOOG)       
- Amazon   ( AMZN)        
  

https://www.kaggle.com/faressayah/stock-market-analysis-prediction-using-lstm/notebook

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import numpy as np
import math

In [2]:
#pip install yfinance

## Récupération des prix en utilisant Yahoo's Finance API

In [3]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
#print(msft.info)

## Chargement des données

On travail sur les données des dix dérnières années.

In [4]:
# Microsoft
tickerSymbol = "MSFT"
tickerData = yf.Ticker(tickerSymbol)
msft = tickerData.history(period='1d', start='2010-10-1', end="2020-10-2")

In [5]:
msft

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2010-09-30   19.50   19.67   19.30   19.40  61262700        0.0             0
2010-10-01   19.62   19.66   19.25   19.32  62672300        0.0             0
2010-10-04   18.98   19.01   18.84   18.94  98143400        0.0             0
2010-10-05   19.06   19.37   18.94   19.29  78152900        0.0             0
2010-10-06   19.27   19.44   19.12   19.36  50489700        0.0             0
...            ...     ...     ...     ...       ...        ...           ...
2020-09-25  203.55  209.04  202.54  207.82  29437300        0.0             0
2020-09-28  210.88  212.57  208.06  209.44  32004900        0.0             0
2020-09-29  209.35  210.07  206.81  207.26  24221900        0.0             0
2020-09-30  207.73  211.98  206.54  210.33  33780700        0.0             0
2020-10-01  213.49  213.99  211.32  212.46  27158400        0.0             0

[2519 rows x 7 columns]

In [6]:
# Google
tickerSymbol = "GOOG"
tickerData = yf.Ticker(tickerSymbol)
goog = tickerData.history(period='1d', start='2010-10-1', end="2020-10-2")

In [7]:
goog

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-09-30,263.59,264.94,258.49,261.91,6512400,0,0.0
2010-10-01,264.01,264.32,260.52,261.83,4466600,0,0.0
2010-10-04,261.49,263.14,258.46,260.20,3895400,0,0.0
2010-10-05,263.20,268.99,262.29,268.11,7040400,0,0.0
2010-10-06,268.62,268.97,263.98,266.18,5545200,0,0.0
...,...,...,...,...,...,...,...
2020-09-25,1432.63,1450.00,1413.34,1444.96,1323000,0,0.0
2020-09-28,1474.21,1476.80,1449.30,1464.52,2007900,0,0.0
2020-09-29,1470.39,1476.66,1458.81,1469.33,978200,0,0.0
2020-09-30,1466.80,1489.75,1459.88,1469.60,1700600,0,0.0
2020-10-01,1484.27,1499.04,1479.21,1490.09,1779500,0,0.0

In [8]:
# Amazon
tickerSymbol = "AMZN"
tickerData = yf.Ticker(tickerSymbol)
amzn = tickerData.history(period='1d', start='2010-10-1', end="2020-10-2")

In [9]:
amzn

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-09-30,160.01,160.93,155.60,157.06,7606000,0,0
2010-10-01,157.08,157.44,152.20,153.71,8683400,0,0
2010-10-04,153.95,155.96,152.79,155.39,5346500,0,0
2010-10-05,157.08,161.21,157.01,160.87,5620000,0,0
2010-10-06,160.60,160.68,154.60,155.40,6060800,0,0
...,...,...,...,...,...,...,...
2020-09-25,3054.86,3101.54,2999.00,3095.13,4615200,0,0
2020-09-28,3148.85,3175.04,3117.17,3174.05,4224200,0,0
2020-09-29,3175.39,3188.26,3132.54,3144.88,3495800,0,0
2020-09-30,3141.14,3212.88,3133.99,3148.73,4883400,0,0
2020-10-01,3208.00,3224.00,3172.00,3221.26,4971900,0,0

In [10]:
msft.to_csv('microsoft.csv')

In [11]:
goog.to_csv('google.csv')

In [12]:
amzn.to_csv('amazon.csv')