# Get Stock Prices from Yahoo's Finance API

**Secteur d’activité du numérique** : 

- Microsoft (MSFT)              
- Google (GOOG)       
- Amazon ( AMZN)

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import numpy as np
import math
import yfinance as yf

In [2]:
#pip install yfinance

## Récupération des prix en utilisant Yahoo's Finance API

Nous allons travailler avec les dix dernières annnées

In [3]:
def get_data(symbol):
    tickerData = yf.Ticker(symbol)
    data = tickerData.history(period='1d', start='2010-10-1', end="2020-9-29")
    data['companies'] = symbol
    data.drop(['Dividends', 'Stock Splits'], axis=1, inplace=True)
    return data

## Chargement des données

## Microsoft

In [4]:
msft = get_data("MSFT")

In [5]:
msft.head()

             Open   High    Low  Close    Volume companies
Date
2010-09-30  19.50  19.67  19.30  19.40  61262700      MSFT
2010-10-01  19.62  19.66  19.25  19.32  62672300      MSFT
2010-10-04  18.98  19.01  18.84  18.94  98143400      MSFT
2010-10-05  19.06  19.37  18.94  19.29  78152900      MSFT
2010-10-06  19.27  19.44  19.12  19.36  50489700      MSFT

In [6]:
msft.shape

(2516, 6)

## Amazon

In [7]:
amzn = get_data("AMZN")

In [8]:
amzn.head()

              Open    High     Low   Close   Volume companies
Date
2010-09-30  160.01  160.93  155.60  157.06  7606000      AMZN
2010-10-01  157.08  157.44  152.20  153.71  8683400      AMZN
2010-10-04  153.95  155.96  152.79  155.39  5346500      AMZN
2010-10-05  157.08  161.21  157.01  160.87  5620000      AMZN
2010-10-06  160.60  160.68  154.60  155.40  6060800      AMZN

In [9]:
amzn.shape

(2516, 6)

## Google

In [10]:
goog = get_data("GOOG")

In [11]:
goog.head()

              Open    High     Low   Close   Volume companies
Date
2010-09-30  263.59  264.94  258.49  261.91  6512400      GOOG
2010-10-01  264.01  264.32  260.52  261.83  4466600      GOOG
2010-10-04  261.49  263.14  258.46  260.20  3895400      GOOG
2010-10-05  263.20  268.99  262.29  268.11  7040400      GOOG
2010-10-06  268.62  268.97  263.98  266.18  5545200      GOOG

In [12]:
goog.shape

(2516, 6)

# Download Data

In [13]:
msft.to_csv('microsoft_prices.csv')

In [14]:
goog.to_csv('google_prices.csv')

In [15]:
amzn.to_csv('amazon_prices.csv')