In [1]:
import pandas as pd
import numpy as np
import re
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import classification_report
from dateutil.parser import parse
import yfinance as yf

# DataFrame News from Seekingalpha using Selenium

In [11]:
msft = pd.read_csv('C:/Users/utilisateur/Downloads/IA simplon/Projets/Arbitrage_en_Bourse/CSV/msft_News.csv')
goog = pd.read_csv('C:/Users/utilisateur/Downloads/IA simplon/Projets/Arbitrage_en_Bourse/CSV/goog_News.csv')
amzn = pd.read_csv('C:/Users/utilisateur/Downloads/IA simplon/Projets/Arbitrage_en_Bourse/CSV/amazon_News.csv')

In [3]:
def prepo_data(data):
    data = data[["Date","comment"]]
    data= data.rename(columns={"comment": "Title"})
    print("shape before preprocessing:", data.shape)
    nulls = pd.DataFrame(data.isnull().sum())
    nulls.columns = ['Null']
    print("NAN values:\n", nulls)

    # remove nan values
    data = data.dropna()
    # remove duplicates
    data = data.drop_duplicates()
    print("shape after prepocessing :", data.shape)
    
    # preprocessing date to datetime
    data['Date']= data['Date'].apply(lambda x: str(x).split()[-3:])
    data['Date']= data['Date'].apply(lambda x: '-'.join(x))
    data['Date']= data['Date'].apply(lambda x: parse(x))
    data['Date']= data['Date'].apply(lambda x: x.strftime('%Y-%m-%d')) 
    return data

# Data  after prepocessing

## Microsoft

In [4]:
msft_news_clean = prepo_data(msft)

shape before preprocessing: (366, 2)
NAN values:
        Null
Date     23
Title    23
shape after prepocessing : (335, 2)

In [5]:
msft_news_clean.head()

         Date                                              Title
0  2020-10-01  Datadog price target lifted on Microsoft partn...
1  2020-09-21  Analog Devices teams with Microsoft on 3D prod...
2  2020-09-08    Microsoft Teams, NFL deepen gameday partnership
3  2020-09-05  Microsoft teams up with BP to achieve net zero...
4  2020-09-11         Microsoft targets raised ahead of earnings

## Amazon

In [6]:
amzn_news_clean = prepo_data(amzn)

shape before preprocessing: (480, 2)
NAN values:
        Null
Date      0
Title     0
shape after prepocessing : (480, 2)

In [7]:
amzn_news_clean.head()

         Date                                              Title
0  2020-10-01  Amazon Music partners with Universal Music, Wa...
1  2020-09-22  Amazon to expand tech hubs, corporate offices,...
2  2020-09-22  Amazon hires former Yahoo, Slack privacy head ...
3  2020-09-16  Amazon's latest job spree: Another 100,000 wor...
4  2020-08-26          Amazon targeted by German antitrust probe

## Google

In [8]:
goog_news_clean = prepo_data(goog)

shape before preprocessing: (400, 2)
NAN values:
        Null
Date     25
Title    25
shape after prepocessing : (369, 2)

In [9]:
goog_news_clean.head()

         Date                                              Title
0  2020-10-01  Google pauses News Showcase launch in Australi...
1  2020-09-25  Microsoft's Bing wins slots in Google's EU mob...
2  2020-08-26  Italy probes Apple, Google and Dropbox cloud s...
3  2020-08-21  Facebook, Google withdraw FCC request for unde...
4  2020-08-04   Samsung to make chips for Cisco, Google - report

# Download Data News to csv

In [10]:
goog_news_clean.to_csv("goog_news_clean.csv")
amzn_news_clean.to_csv("amzn_news_clean.csv")
msft_news_clean.to_csv("msft_news_clean.csv")